@charset "utf-8";
*{margin:0; padding:0;}
body,div,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,p {margin:0; padding:0;}
body {color:#28333d; background-color:#ececec; font-size:12px; font-family:Tahoma,Arial,Helvetica,sans-serif;}
img,input {border:0;}
input {vertical-align:middle;}
ol,ul,li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:14px;}
a {color:#28333d; text-decoration:none;}
a:hover {color:#555555; text-decoration:underline;}
.back {clear:both; height:0; overflow:hidden;}

/***首页头部代码***/
#die_header {clear:both;}
#die_header .head {height:105px; width:960px; position:relative; margin:0 auto;}
#die_header .head .logo {width:202px; float:left; margin:30px 0 0 3px;}
#die_header .head .search {width:405px; float:left; margin:32px 0 0 130px;}
#die_header .head #formsearch {width:100%; height:38px; }
#die_header .head #formsearch .keyword {width:303px; height:32px; line-height:32px; float:left; color:#7c8490; margin:0 5px 0 15px; background-color:transparent;}
#die_header .head #formsearch .look {width:80px; height:34px; float:left; background-color:transparent; cursor:pointer; text-indent:-1440px;}
#die_header .head .search .hotkey {padding:8px 0 0 8px; height:18px; line-height:18px; overflow:hidden;}
#die_header .head .search .hotkey a {color:#555555; padding-right:5px;}
#die_header .head .query {float:right; margin:42px 2px 0 0;}
#die_header .head .query a.tt {color:#555555; padding-right:10px;}
#die_header .head .query a.history {color:#555555; padding-left:20px;}
#MAX_HISTORY .hishover {width:77px; height:30px; line-height:30px; border:1px solid #ececec; border-bottom:none; background:#FFF url(tory1.png) no-repeat 5px center; padding-left:22px; position:absolute; z-index:999; top:-30px; right:0;}
#MAX_HISTORY #mh-box {border:1px solid #ececec; overflow:hidden; padding-bottom:3px;}
#MAX_HISTORY #mh-ul li {height:30px; line-height:30px; margin:0 5px 3px; overflow:hidden; background:#ffffff;}
#MAX_HISTORY #mh-ul li small {padding:0 5px;}
#die_header .menu {height:39px; overflow:hidden; }
#die_header .menu .menu_ul {width:960px; margin:0 auto; padding-top:1px;}
#die_header .menu .menu_ul li {float:left;}
#die_header .menu .menu_ul li a {display:inline-block; color:#fff; font-size:14px; height:38px; line-height:38px; padding:0 20px;}
#die_header .menu .menu_ul li a.cur {background-color:#28333d;}
#die_header .navbox {height:30px; border-bottom:1px solid #b3bece;}
#die_header .navbox .nav {width:960px; margin:0 auto; height:30px; line-height:30px;}
#die_header .navbox .nav a {padding:0 7px;}
#die_header .nav .nav_l {float:left; padding-left:10px;}
#die_header .nav .nav_l label.tv {padding-left:20px; color:#555555; font-weight:bold; display:inline-block;}
#die_header .nav .nav_r {float:right; padding-right:10px;}
#die_header .nav .nav_r label.film {padding-left:20px; color:#555555; font-weight:bold; display:inline-block;}

/***首页热点代码***/
#die_wrap {clear:both;}
#die_wrap .die960 {width:960px; margin:0 auto; clear:both; overflow:hidden;}
#die_wrap .die960 .placard {margin:8px auto 0; height:35px; line-height:35px; padding:0 10px; border:1px solid #555555; color:#555555; background-color:#ffffff;}
.wrap{margin:0 auto;width:960px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}

/* 头部 */
.nav_bar{height:50px;background:#1D7AD9;color:#FFF;text-shadow:1px 1px 1px #000;}
.nav_bar a{color:#fff;text-decoration:none;}
.nav_bar a:hover{color:#63b8ff;text-decoration:none;}
.nav_bar .domain{float:left;font:normal 25px/50px "Trebuchet MS","Verdana","\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";font-style:italic;}
.nav_bar .nav_bar_r{float:right;line-height:50px;}

/* 导航菜单 */
.nav_menu{width:960px;height:40px;border-bottom:1px solid #fff;}
.nav li{background:#666;width:106px;height:40px;line-height:40px;font-size:16px;color:#fff;border-left:1px solid #999;float:left;text-align:center;text-shadow:1px 1px 1px #000;}
.nav li a{display:inline-block;width:106px;color:#FFFFFF;}
.nav li a:hover{background-color:#0000FF;color:#FFF;text-decoration:none;}
.nav .active{background:#1D7AD9;width:104px;border-left:none;}


.slideshowbox {background-color:#ececec; overflow:hidden; margin-top:8px;}
.slideshowbox .slideshow {float:left; width:705px; height:350px; overflow:hidden; background:#555555;}
/*foucebox*/
.scrollimg2_hd,.scrollimg2_tigger img,.scrollimg2_tigger_hoverbg {background:url(slideshow/scrollimg.png) no-repeat 0 0;}
.foucebox {width:705px;height:350px;}
.scrollimg2 {position:relative;float:left;width:100%;height:100%;overflow:hidden;}
.scrollimg2_bigimg {display:none;position:absolute;left:0;top:0;width:100%;height:300px;overflow:hidden;}
.scrollimg2_bigimg img {width:705px;height:300px;}
.scrollimg2_hd {position:absolute;left:0;top:0;display:block;width:77px;height:75px;background-position:-143px 0;text-indent:-1440px;overflow:hidden;z-index:2;}
.scrollimg2_tigger {position:relative;height:50px;background:#202930;top:300px;overflow:hidden;}
.scrollimg2_tigger li {position:relative;float:left;display:inline;width:62px;height:37px;margin-left:7px;overflow:hidden;}
.scrollimg2_tigger img {width:60px;height:35px;padding:1px;}
.scrollimg2_tigger_hoverbg {position:absolute;left:12px;top:3px;width:62px;height:41px;background-position:0 -38px;cursor:pointer;z-index:9;}
.scrollimg2_tigger .scrollimg2_tigger_link {padding:7px 0 0 5px;}
.scrollimg2_bigimg .scrollimg2_bg {position:absolute;left:0;top:260px;width:100%;height:40px;background:#000;filter:alpha(opacity=60);opacity:0.6;z-index:98;}
.scrollimg2_txt {position:absolute;left:10px;top:272px;font-size:14px;color:#fff;z-index:99;}
/*foucebox end*/
.slideshowbox .toplist {float:right; width:253px; height:348px; overflow:hidden; border:1px solid #111a23; background-color:#202930;}
.slideshowbox .toplist .topbox {height:100%; border-left:1px solid #465564;}
.slideshowbox .toplist .topbox #top_tit {height:31px; border-bottom:1px solid #111a23; background-color:#28333d;}
.slideshowbox .toplist .topbox #top_tit a {display:inline-block; width:124px; height:30px; line-height:30px; text-align:center; color:#fff; font-size:14px; font-weight:bold; border:1px solid transparent;}
.slideshowbox .toplist .topbox #top_tit a.cur {background-color:#202930; border:1px solid #111a23; border-bottom-color:#202930;}
.slideshowbox .toplist .topbox ul li {clear:both; height:30px; line-height:30px; overflow:hidden; padding:0 5px 0 45px; color:#9ba5b3;}
.slideshowbox .toplist .topbox ul li h3 {font-size:12px; font-weight:400;}
.slideshowbox .toplist .topbox ul li a {color:#fff;}
.slideshowbox .toplist .topbox ul li.li_1 {background:#28333d url(lione.png) no-repeat 15px -23px;}
.slideshowbox .toplist .topbox ul li.li_2 {}
.slideshowbox .toplist .topbox ul li.li_3 {background:#28333d url(lione.png) no-repeat 15px -83px;}
.slideshowbox .toplist .topbox ul li.li_4 {}
.slideshowbox .toplist .topbox ul li.li_5 {background:#28333d url(lione.png) no-repeat 15px -143px;}
.slideshowbox .toplist .topbox ul li.li_6 {}
.slideshowbox .toplist .topbox ul li.li_7 {background:#28333d url(lione.png) no-repeat 15px -203px;}
.slideshowbox .toplist .topbox ul li.one {padding:5px 5px 5px 15px; height:96px;}
.slideshowbox .toplist .topbox ul li.one img {float:left;}
.slideshowbox .toplist .topbox ul li.one .txt {float:right; width:145px;}
.slideshowbox .toplist .topbox ul li.one .txt h3 {font-size:14px; font-weight:bold; padding-left:28px; margin-bottom:5px; height:18px; line-height:18px; overflow:hidden;}
.slideshowbox .toplist .topbox ul li.one .txt p {height:25px; line-height:22px; overflow:hidden;}
.slideshowbox .toplist .topbox ul li.one .txt p.starring a {color:#9ba5b3;}
.slideshowbox .toplist .topbox ul li.one .txt p a.play {display:inline-block; width:31px; height:22px; padding-left:25px; margin-right:10px;}
.slideshowbox .toplist .topbox ul li.one .txt p a.play:hover {}

/***首页推荐代码***/
.tui_top {margin-top:5px; height:5px; overflow:hidden;}
.die_tui {border:1px solid #ececec; border-top:none; background-color:#FFF;}
.die_tui .h_top {padding:10px 15px; overflow:hidden; clear:both;}
.die_tui .h_top h1 {float:left; font-size:22px; font-family:"黑体"; font-weight:400;}
.die_tui .h_top h1 span {color:#b3bece; font-size:18px; padding-left:5px; font-family:Arial,Helvetica,sans-serif;}
.die_tui .h_top .more {float:right; padding-top:5px;}
.ul_tui {margin-left:7px; overflow:hidden;}
.ul_tui li {width:135px; float:left;}
.ul_tui li a.img {height:150px; width:110px; position:relative; margin:0 auto; display:block; padding:2px; border:1px solid #c2cddd;}
.ul_tui li a.img:hover {border:1px solid #cc3311;}
.ul_tui li a.img label.bg {background:#000000; top:132px; display:block; height:20px; left:2px; opacity:0.5; position:absolute; width:110px; z-index:1;}
.ul_tui li a.img label.state {top:132px; color:#FFF; display:block; height:20px; line-height:20px; text-align:right; overflow:hidden; left:7px; white-space:nowrap; position:absolute; width:100px; z-index:2;}
.ul_tui li h3 {height:30px; width:114px; margin:0 auto; line-height:30px; text-align:center; font-weight:400; overflow:hidden;}
.ul_tui h3 a {color:#555555;}
.ul_new {margin:10px 0 0 2px; padding-bottom:8px; overflow:hidden;}
.ul_new li {width:224px; padding-left:15px; height:30px; line-height:30px; overflow:hidden; border-top:1px dashed #c2cddd; float:left;}
.ul_new li em {font-style:normal; color:#555555;}
.ul_new li span {color:#7c8490;}

/***首页电视剧、电影代?**/
.die_tv {border:1px solid #ececec; margin-top:5px; overflow:hidden; background-color:#FFF;}
.die_movie {margin-top:8px;}
.die_left {float:left; width:960px; overflow:hidden;}
.die_tv .die_left .tv_title {padding:10px 15px; overflow:hidden; clear:both;}
.die_tv .die_left .tv_title h2 {float:left; font-size:22px; font-family:"黑体"; font-weight:400;}
.die_tv .die_left .tv_title h2 span {color:#b3bece; font-size:18px; padding-left:5px; font-family:Arial,Helvetica,sans-serif;}
.die_tv .die_left .tv_title .more {float:right; padding-top:5px;}
.die_tv .die_left .tv_title .more a {padding:0 5px;}
.die_tv .die_left .tv_center {float:left; width:251px; margin-left:15px; display:inline;}
.die_tv .die_left .tv_center .keynote {width:251px;}
.die_tv .die_left .tv_center .keynote a.img {height:150px; width:245px; position:relative; display:block; padding:2px; border:1px solid #c2cddd;}
.die_tv .die_left .tv_center .keynote a.img:hover {border:1px solid #cc3311;}
.die_tv .die_left .tv_center .keynote a.img .pic {width:245px; height:150px; overflow:hidden; position:relative;}
.die_tv .die_left .tv_center .keynote a.img .pic img {position:absolute; top:-30px;}
.die_tv .die_left .tv_center .keynote a.img label.bg {background:#000000; top:122px; display:block; height:30px; left:2px; opacity:0.5; position:absolute; width:245px; z-index:1;}
.die_tv .die_left .tv_center .keynote a.img h3 {top:122px; color:#FFF; display:block; font-weight:400; width:235px; height:30px; line-height:30px; text-align:center; overflow:hidden; left:7px; white-space:nowrap; position:absolute; z-index:2;}
.die_tv .die_left .tv_center .keynote p {height:25px; line-height:25px; overflow:hidden;}
.die_tv .die_left .tv_center .keynote p.direct {margin-top:2px;}
.die_tv .die_left .tv_center .keynote p.opera {height:100px;}
.die_tv .die_left .tv_center .keynote p.opera span {color:#7c8490;}
.die_tv .die_left .tv_center .update {margin-top:10px; padding-top:2px; border-top:1px solid #c2cddd;}
.die_tv .die_left .tv_center .update h3 {height:30px; line-height:30px;}
.die_tv .die_left .tv_center .update ul li {height:25px; line-height:25px; vertical-align:middle; padding-left:15px; clear:both; overflow:hidden;}
.die_tv .die_left .tv_center .update ul li a {float:left;}
.die_tv .die_left .tv_center .update ul li em {float:left; font-style:normal; color:#7c8490;}
.die_tv .die_left .tv_center .update ul li span {float:right; color:#7c8490;}
.die_tv .die_left .die_list {float:right; width:434px;}
.die_tv .die_left .die_list ul.ul_tui li {padding-bottom:15px; width:140px;}
.die_tv .die_left .die_list ul.ul_tui li h3 {text-align:left;}
.die_tv .die_left .die_list ul.ul_tui li h3 a {color:#28333d;}
.die_tv .die_left .die_list ul.ul_tui li h3 a:hover {color:#555555;}
.die_tv .die_left .die_list ul.ul_tui li p {height:22px; width:114px; margin:0 auto; line-height:22px; color:#7c8490; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.die_right {float:right; width:250px; overflow:hidden;}
.die_right .classify {overflow:hidden;}
.die_right .classify .title {margin:12px 15px 0 0; padding-bottom:8px; overflow:hidden; border-bottom:1px solid #c2cddd;}
.die_right .classify .title h3 {float:left;}
.die_right .classify .title .more {float:right; padding-top:2px;}
.die_right .classify p.year {margin-top:8px; line-height:25px;}
.die_right .classify p.year strong {display:inline-block; width:50px; float:left;}
.die_right .classify p.year span {display:inline-block; width:50px; float:left;}
.die_right .classify p.star {margin-top:8px; line-height:25px;}
.die_right .classify p.star strong {display:inline-block; width:50px; float:left;}
.die_right .classify p.star span {display:inline-block; width:50px; float:left;}
.die_right .ranking {margin:15px 15px 0 0;}
.die_right .ranking .title {padding-bottom:8px; border-bottom:1px solid #c2cddd;}
.die_right .ranking ul {margin-top:10px;}
.die_right .ranking ul li {height:30px; line-height:30px; overflow:hidden; padding-left:30px; vertical-align:middle; border-bottom:1px dashed #c2cddd;}
.die_right .ranking ul li.li_1 {background:url(litwo.png) no-repeat 0 7px;}
.die_right .ranking ul li.li_2 {background:url(litwo.png) no-repeat 0 -23px;}
.die_right .ranking ul li.li_3 {background:url(litwo.png) no-repeat 0 -53px;}
.die_right .ranking ul li.li_4 {background:url(litwo.png) no-repeat 0 -83px;}
.die_right .ranking ul li.li_5 {background:url(litwo.png) no-repeat 0 -113px;}
.die_right .ranking ul li.li_6 {background:url(litwo.png) no-repeat 0 -143px;}
.die_right .ranking ul li.li_7 {background:url(litwo.png) no-repeat 0 -173px;}
.die_right .ranking ul li.li_8 {background:url(litwo.png) no-repeat 0 -203px;}
.die_right .ranking ul li.li_9 {background:url(litwo.png) no-repeat 0 -233px;}
.die_right .ranking ul li.li_10 {background:url(litwo.png) no-repeat 0 -263px;}
.die_right .ranking ul li.li_11 {background:url(litwo.png) no-repeat 0 -293px;}
.die_right .ranking ul li.li_12 {background:url(litwo.png) no-repeat 0 -323px;}
.die_right .ranking ul li.li_13 {background:url(litwo.png) no-repeat 0 -353px;}
.die_right .ranking ul li.li_14 {background:url(litwo.png) no-repeat 0 -383px;}
.die_right .ranking ul li.li_15 {background:url(litwo.png) no-repeat 0 -413px;}
.die_right .ranking ul li a {float:left;}
.die_right .ranking ul li span {float:right; color:#7c8490;}

/***首页动漫、综艺代?**/
.comin {border:1px solid #ececec; margin-top:5px; overflow:hidden; background-color:#FFF;}
.die_left .show_title {padding:10px 15px; overflow:hidden;}
.die_left .show_title h2 {font-size:22px; font-family:"黑体"; font-weight:400;}
.die_left .show_title h2 span {color:#b3bece; font-size:18px; padding-left:5px; font-family:Arial,Helvetica,sans-serif;}
.die_left .show_conter ul.ul_tui li {padding-bottom:15px; width:138px;}
.die_left .show_conter ul.ul_tui li h3 a {color:#28333d;}
.die_left .show_conter ul.ul_tui li h3 a:hover {color:#555555;}
.die_right .classify p.area {margin-top:5px; line-height:25px;}
.die_right .classify p.area strong {display:inline-block; width:50px;}
.die_right .classify p.area span {display:inline-block; width:50px;}
.variety {border:1px solid #ececec; margin-top:8px; overflow:hidden; background-color:#FFF;}
.die_right .classify p.recommend {margin-top:5px; line-height:25px;}
.die_right .classify p.recommend span {display:inline-block; padding-right:10px;}

/***首页纪录电影代码***/
.record {border:1px solid #ececec; margin-top:5px; overflow:hidden; background-color:#FFF;}
.record .h_top {padding:10px 15px; overflow:hidden; clear:both;}
.record .h_top h2 {float:left; font-size:22px; font-family:"黑体"; font-weight:400;}
.record .h_top h2 span {color:#b3bece; font-size:18px; padding-left:5px; font-family:Arial,Helvetica,sans-serif;}
.record .h_top .more {float:right; padding-top:5px;}
.record .ul_record {margin-left:7px; overflow:hidden;}
.record .ul_record li {float:left; width:189px; padding-bottom:15px;}
.record .ul_record li a.img {height:105px; width:165px; position:relative; margin:0 auto; display:block; padding:2px; border:1px solid #c2cddd;}
.record .ul_record li a.img:hover {border:1px solid #cc3311;}
.record .ul_record li a.img .pic {width:165px; height:105px; overflow:hidden; position:relative;}
.record .ul_record li a.img .pic img {position:relative; top:-30px;}
.record .ul_record li a.img label.bg {background:#000000; top:87px; display:block; height:20px; left:2px; opacity:0.5; position:absolute; width:165px; z-index:1;}
.record .ul_record li a.img label.state {top:87px; color:#FFF; display:block; height:20px; line-height:20px; text-align:right; overflow:hidden; left:7px; white-space:nowrap; position:absolute; width:155px; z-index:2;}
.record .ul_record li h3 {height:30px; line-height:30px; width:171px; margin:0 auto; text-align:center; font-weight:400; overflow:hidden;}
.record .ul_record li p.role {height:20px; line-height:20px; width:171px; margin:0 auto; overflow:hidden; color:#7c8490; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center;}
.record .telecine {margin-top:10px;}
.record .telecine .title {width:926px; margin:0 auto; position:relative; border-top:1px solid #c2cddd;}
.record .telecine .title h2 {width:70px; background-color:#FFF; position:absolute; top:-10px;}
.record .telecine ul {margin:15px 0 15px 15px; overflow:hidden;}
.record .telecine ul li {float:left; width:235px; height:25px; line-height:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.record .telecine ul li span {color:#7c8490; padding-right:5px;}

/***友情链接代码***/
.friendship {margin-top:15px;}
.friendship h3 span {font-size:12px; font-weight:400;}
.friendship ul {margin:5px 0 0 2px; overflow:hidden;}
.friendship ul li {width:87px; float:left; height:25px; line-height:25px; overflow:hidden;}
.friendship ul li a {color:#7c8490;}

/***首页底部代码***/
#die_footer .footer .foot_top {margin:20px 0; text-align:center;}
#die_footer .footer .foot_top a {margin:0 10px;}
#die_footer .footer p {line-height:25px; text-align:center;}
#die_footer .footer p.copy {font-family:Arial,Helvetica,sans-serif;}
#die_footer .footer p.copy a {color:#555555;}
.email {margin-top:10px; text-align:center;}

/***广告代码***/
.ad960 {margin-top:5px;}  /***全局***/
.channel_ad250 {margin-top:8px; width:250px; height:250px; background-color:#FFF;}  /***大分类、列?**/
.content_ad200 {padding:10px; width:200px; height:200px; clear:both;}  /***内容?**/
.play_ad300_1 {width:300px; height:250px; overflow:hidden;}  /***播放?**/
.play_ad300_2 {margin-top:10px; width:300px; height:250px; overflow:hidden;}
.play_ad_top {padding:5px 0; color:#FFF;}

/***大分类、列表页代码***/
.channel .section {border:1px solid #ececec; margin-top:8px; overflow:hidden; background-color:#FFF;}
.die_left .section .show_title h2 {float:left; font-size:18px;}
.die_left .section .show_title .more {float:right; padding-top:5px;}
.die_left .section .show_conter ul.ul_tui {margin-left:5px;}
.die_left .section .show_conter ul.ul_new {margin:0 0 0 15px;}
.die_left .section .show_conter ul.ul_new li {width:153px; background:url(tv.jpg) no-repeat left center;}
.channel .die_right .ranking {margin:8px 0 0 0; border:1px solid #ececec; background-color:#FFF; padding:10px;}
.channel .die_right .telecine {margin:8px 0 0 0; border:1px solid #ececec; background-color:#FFF; padding:10px;}
.channel .die_right .telecine .title {border-bottom:1px solid #c2cddd; padding-bottom:8px;}
.channel .die_right .telecine ul {margin-top:10px;}
.channel .die_right .telecine ul li {border-bottom:1px dashed #c2cddd; height:30px; line-height:30px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.channel .die_right .telecine ul li span {color:#7c8490; padding-right:5px;}
.die_left .topic_list {border:1px solid #ececec; margin-top:8px; padding-bottom:15px; overflow:hidden; background-color:#FFF;}
.die_left .topic_list ul.topic {overflow:hidden; clear:both;}
.die_left .topic_list ul.topic li {width:171.5px; height:230px; float:left; border:1px solid #c2cddd; margin:15px 0 0 15px; display:inline; vertical-align:middle;}
.die_left .topic_list ul.topic li:hover {border:1px solid #ebebeb; background-color:#ebebeb;}
.die_left .topic_list ul.topic li a.img {height:180px; width:150px; float:left; margin:10px 10px 0 8px; display:block; padding:2px; border:1px solid #c2cddd; _margin-left:4px; overflow:hidden;}
.die_left .topic_list ul.topic a.img:hover {border:1px solid #cc3311;}
.die_left .topic_list ul.topic li .summary {float:left; width:165px; margin-top:8px; overflow:hidden;}
.die_left .topic_list ul.topic li .summary h3 {height:25px; line-height:25px; overflow:hidden;}
.die_left .topic_list ul.topic li .summary p {height:25px; line-height:25px; overflow:hidden; border-top:1px dashed #c2cddd; text-overflow:ellipsis; white-space:nowrap;}
.die_left .topic_list ul.topic li .summary p strong {color:#7c8490;}
.die_left .topic_list ul.topic li .summary p.role {margin-top:3px;}
.die_left .topic_list ul.topic li .summary p .state {color:#ebebeb;}
.die_left .topic_list ul.topic li .summary p.bf {padding-top:7px;}
.die_left .topic_list ul.topic li .summary p.bf a {display:inline-block; width:50px; height:20px; margin-right:20px;}

/***分类索引代码***/
.indexing {padding:10px 15px 0; background-color:#FFF; border:1px solid #ececec; margin-top:8px;}
.indexing h1 {padding-bottom:8px; margin-bottom:5px; border-bottom:1px solid #c2cddd;}
.indexing dl {padding:5px 0; height:20px; line-height:20px; border-bottom:1px dashed #c2cddd;}
.indexing dl.abc {border-bottom:none; padding-bottom:10px;}
.indexing dl dt {float:left; display:inline-block; padding:0 5px;}
.indexing dl dd {float:left; margin-left:5px;}
.indexing dl dd a {display:inline-block; margin-left:7px; padding:0 6px;}
.indexing dl .cur {background-color:#555555; color:#FFF;}

/***分页样式代码***/
.paging {width:670px; height:40px; line-height:40px; margin:15px auto 5px;}
.paging .pages {border:1px solid #c2cddd; text-align:center;}
.paging .pages em, .paging a {border:1px solid #9ba5b3; font-style:normal; margin-left:5px; padding:5px 8px; -moz-border-radius:3px; border-radius:3px;}
.paging .pages span {background-color:#9ba5b3; border:1px solid #9ba5b3; color:#FFF; margin-left:5px; padding:5px 8px; -moz-border-radius:3px; border-radius:3px;}

/***搜索页代?**/
.searchlist {border:1px solid #ececec; overflow:hidden; background-color:#FFF; padding-bottom:15px; margin-top:8px;}
.searchlist .title {padding:10px 0 8px; margin:0 15px; border-bottom:1px solid #c2cddd;}
.searchlist ul.topic {overflow:hidden; clear:both;}
.searchlist ul.topic em {padding-top:5px; font-style:normal; text-align:center; display:block;}
.searchlist ul.topic li {width:297px; height:205px; float:left; border:1px solid #c2cddd; margin:15px 0 0 15px; display:inline; vertical-align:middle;}
.searchlist ul.topic li:hover {border:1px solid #555555; background-color:#555555;}
.searchlist ul.topic li a.img {height:180px; width:130px; float:left; margin:10px 10px 0 8px; display:block; padding:2px; border:1px solid #c2cddd; overflow:hidden; _margin-left:4px;}
.searchlist ul.topic a.img:hover {border:1px solid #cc3311;}
.searchlist ul.topic li .summary {float:left; width:140px; margin-top:8px; overflow:hidden;}
.searchlist ul.topic li .summary h3 {height:25px; line-height:25px; overflow:hidden;}
.searchlist ul.topic li .summary p {height:25px; line-height:25px; overflow:hidden; border-top:1px dashed #c2cddd; text-overflow:ellipsis; white-space:nowrap;}
.searchlist ul.topic li .summary p strong {color:#7c8490;}
.searchlist ul.topic li .summary p.role {margin-top:3px;}
.searchlist ul.topic li .summary p .state {color:#555555;}
.searchlist ul.topic li .summary p.bf {padding-top:7px;}
.searchlist ul.topic li .summary p.bf a {display:inline-block; width:50px; height:20px; margin-right:15px;}
.searchlist .paging {width:930px;}

/***内容页代?**/
.die960 .location {height:30px; line-height:30px;}
.die960 .location span {color:#7c8490;}
.content .die_left {width:728px;}
.content .die_left .detail {border:1px solid #ececec; overflow:hidden; background-color:#FFF;}
.content .die_left .detail .picture {float:left; width:203px; margin:15px 15px 0; position:relative; overflow:hidden; display:inline;}
.content .die_left .detail .picture .pic {width:195px; height:260px; padding:2px; border:1px solid #c2cddd; background-color:#FFF; position:relative; z-index:2;}
.content .die_left .detail .picture span {width:199px; height:264px; display:block; border:1px solid #c2cddd; position:absolute; z-index:1; top:2px; left:2px;}
.content .die_left .detail .picture .share {margin:5px 0; overflow:hidden; position:relative;}
.content .die_left .detail .summary {float:left; width:480px; margin:15px 0; position:relative;}
.content .die_left .detail .summary h1 {height:25px; line-height:25px; font-size:18px; margin-bottom:10px; overflow:hidden;}
.content .die_left .detail .summary p {height:25px; line-height:25px; overflow:hidden;}
.content .die_left .detail .summary p strong {color:#7c8490;}
.content .die_left .detail .summary p.two span {display:inline-block; width:240px;}
.content .die_left .detail .summary p em {color:#ebebeb; font-style:normal;}
.content .die_left .detail .summary p.opera {height:auto; padding-bottom:10px; border-bottom:1px dashed #c2cddd;}
.content .die_left .detail .summary p.opera span.synopsis {padding-right:10px; background:url(tt.png) no-repeat right 4px;}
.content .die_left .detail .summary p.opera span.synopsis a {color:#ebebeb;}
.content .die_left .detail .summary p.bf {height:auto; margin-top:10px;}
.content .die_left .detail .summary p.bf a {display:block; width:100px; height:37px; background:url(bf.png) no-repeat 0 -44px;}
.content .die_left .detail .summary .pingfen {position:absolute; top:3px; left:290px;}
.content .die_left .playlist {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:5px;}
.content .die_left .playlist .tips {width:698px; margin:5px auto 0; height:30px; line-height:30px; border-bottom:1px dashed #c2cddd; color:#7c8490;}
.content .die_left .playlist .die_look {overflow:hidden; margin:20px auto;}
.content .die_left .playlist .die_look .look_title {width:698px; margin:0 auto; border-bottom:1px dashed #c2cddd; color:#7c8490; clear:both; padding-bottom:10px;}
.content .die_left .playlist .die_look .look_title span {float:right; padding-top:5px;}
.content .die_left .playlist .die_look .look_title span a {color:#555555;}
.content .die_left .playlist .die_look ul {margin-left:5px; overflow-y:auto; max-height:330px; _height:expression(this.scrollHeight > 330 ? "330px" : "auto");}
.content .die_left .playlist .die_look ul li {float:left;}
.content .die_left .playlist .die_look ul li a {display:block; overflow:hidden; margin:10px 0 0 10px; width:128px; height:28px; line-height:28px; text-align:center; border:1px solid #c2cddd; background-color:#ffffff;}
.content .die_left .playlist .die_look ul li a:hover {border:1px solid #ff4400; background-color:#555555; text-decoration:none; color:#FFF;}
.content .die_left .like {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:5px;}
.content .die_left .like .h_top {padding:10px 15px;}
.content .die_left .like .h_top h3 span {color:#555555;}
.content .die_left .like .ul_tui {margin-left:4px;}
.content .die_left .like .ul_tui li {width:143px;}
.content .die_left .like .ul_new {margin-left:5px;}
.content .die_left .details {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:8px;}
.content .die_left .details h2 {margin:10px 15px 0; padding-bottom:10px; border-bottom:1px solid #c2cddd;}
.content .die_left .details .contents {padding:8px 15px 10px; line-height:25px;}
.content .die_right {width:222px;}
.content .die_right .watch {border:1px solid #ececec; overflow:hidden; background-color:#FFF;}
.content .die_right .watch .title h3 {margin:10px 10px 0; padding-bottom:8px; border-bottom:1px solid #c2cddd;}
.content .die_right .watch ul {padding-left:2px; overflow:hidden;}
.content .die_right .watch ul li {float:left;}
.content .die_right .watch ul li a.img {width:90px; height:120px; display:block; margin:10px 0 0 8px; padding:2px; border:1px solid #c2cddd;}
.content .die_right .watch ul li p {margin-left:8px; width:96px; text-align:center; height:22px; line-height:22px; overflow:hidden;}
.content .die_right .ranking {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin:8px auto 0; padding:10px;}
.content .die_left .comment {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:8px; padding:10px 15px;}

/***播放页代?**/
.play_h1 {float:right; line-height:30px;}
.play_h1 h1 {font-size:12px; font-weight:400;}
#player {background-color:#28333d; padding-bottom:5px;}
#player .die_left {width:960px;}
#player .die_left .playback {height:510px; background-color:#ececec; overflow:hidden; vertical-align:middle;}
#player .die_right {width:0px;}
.play_tui {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:8px;}
.play_tui .h_top h2 {margin:10px 15px; font-size:18px;}
.play_help {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:5px; padding:10px 15px 20px;}
.play_help h3 {padding-bottom:8px; border-bottom:1px solid #c2cddd; font-size:18px;}
.play_help .help_txt {border:1px solid #c2cddd; position:relative; margin-top:20px; padding:15px 0 10px;}
.play_help .help_txt h4 {width:125px; position:absolute; top:-10px; left:15px; background-color:#FFF; color:#555555;}
.play_help .help_txt p {line-height:25px; padding:0 15px;}
.play_help .help_txt p.bb {border-top:1px solid #c2cddd; padding-top:10px; margin-top:10px;}
.play_help .help_txt p span {color:#555555;}

/***新闻列表代码***/
.die_left .newslist {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:8px; padding-bottom:15px;}
.newslist .show_title h1 {font-size:18px; float:left;}
.newslist .show_title .more {float:right; padding-top:5px;}
.newslist .ul_news {padding:10px 0; margin:0 15px; border-top:1px solid #c2cddd;}
.newslist .ul_news li {height:40px; line-height:40px; vertical-align:middle; border-bottom:1px dashed #c2cddd;}
.newslist .ul_news li em {float:left; display:block; width:55px; padding-right:10px; text-align:center; font-style:normal; color:#555555;}
.newslist .ul_news li a {float:left; font-weight:400;}
.newslist .ul_news li span {float:right; color:#7c8490;}
.die_right .newsing {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:8px; padding:10px 10px 15px;}
.die_right .newsing .title {border-bottom:1px solid #c2cddd; padding-bottom:8px;}
.die_right .newsing li {height:101px; margin-top:12px; overflow:hidden; vertical-align:middle;}
.die_right .newsing li a {float:left; width:86px; display:block;}
.die_right .newsing li img {padding:2px; border:1px solid #c2cddd;}
.die_right .newsing li dl {float:right; width:130px;}
.die_right .newsing li dl dt {height:16px; overflow:hidden;}
.die_right .newsing li dd {margin-top:7px;}
.die_right .newsing li dd p {height:20px; line-height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/***新闻页代?**/
.die_left .news {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:8px; padding:10px 15px;}
.news .title h1 {font-size:18px; text-align:center; line-height:30px; padding-bottom:5px;}
.news .title p {text-align:center; color:#7c8490; border-bottom:1px solid #c2cddd; padding-bottom:10px;}
.news .news_content {line-height:25px; margin-top:10px;}
.news .inter h3 {border-bottom:1px solid #c2cddd; padding:25px 0 8px; margin-bottom:8px;}
.news .comment {margin-top:25px;}

/***自定义模板代?**/
.zhibo {background-color:#202930; padding:10px 0;}
.sitemap {border:1px solid #ececec; overflow:hidden; background-color:#FFF; margin-top:8px; padding:10px 15px;}
.sitemap h1 {height:33px; line-height:30px; text-align:center; font-size:16px; border-bottom:1px solid #c2cddd;}
.sitemap h2 {padding:15px 0 8px 0; margin-bottom:8px; border-bottom:1px solid #c2cddd; clear:both;}
.sitemap h3 {float:left; width:110px; height:25px; font-size:12px; font-weight:400;}
.sitemap dl {margin-top:15px;}
.sitemap dl dt {padding:10px 0; margin-top:10px; font-size:14px; color:#555555; clear:both;}
.sitemap dl dd {float:left; width:185px; height:22px;}
.die_top {border:1px solid #ececec; overflow:hidden; background-color:#FFF; padding-bottom:20px;}
.die_top .die_left {width:135px; padding-top:15px;}
.die_top .die_left a {display:block; width:90px; height:25px; line-height:25px; margin:5px 0 5px 15px; padding-left:20px; border-top:1px solid #c2cddd; border-bottom:1px solid #c2cddd;}
.die_top .die_left a.top_cur {color:#FFF; margin:0 0 0 15px; border:none;}
.die_top .die_right {width:820px;}
.die_top .die_right dl.hit_top {width:250px; float:left; margin:15px 0 0 15px; display:inline; border:2px solid #ececec; border-bottom:1px solid #ececec;}
.die_top .die_right dl.hit_top dt {height:28px; line-height:28px; padding-left:8px; overflow:hidden; background-color:#eee6d6;}
.die_top .die_right dl.hit_top dt strong {font-size:14px;}
.die_top .die_right dl.hit_top dt span {color:#7c8490; float:right; padding-right:8px;}
.die_top .die_right dl.hit_top dd {height:30px; line-height:30px; border-bottom:1px solid #ececec;}
.die_top .die_right dl.hit_top dd.d_bg {background-color:#fffbf8;}
.die_top .die_right dl.hit_top dd em {display:inline-block; float:left; width:35px; text-align:center; font-family:Arial,Helvetica,sans-serif; font-size:14px; color:#7c8490;}
.die_top .die_right dl.hit_top dd a {float:left;}
.die_top .die_right dl.hit_top dd span {display:inline-block; float:right; width:45px; text-align:center; color:#7c8490;}

#tishi{
    width:960px;
    font-size:14px;
    
    height:35px;
    overflow:hidden;
    line-height:35px;
    color:#E12160;
    border:1px solid #ddd;
    text-align:center;
    background:#F5F5DC;
}
#tishi span{
    float:right;
    
}
